body{
    margin: 0px;
    overflow: hidden;
    
}
.container{
    background: rgb(201, 201, 201);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.container h1 {
    color: #ffffff;
    font-size :36px;
    font-family:  sans-serif;
}
.button{
    background-color: #555555;
    font-size: 14px;
    cursor: pointer;
    color: #eee;
    height: 60px;
    border: none;
    border-radius: 14px;
}

.button:active{
    transform: scale(0.95);
    box-shadow: 3px 2px 222px 1px rgba(124, 52, 52, 0.24);
}
